@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
    background-color: #3A70AC;
}
.bg-light{
    background-color: #4075b3;
}
.bg-light2{
    background-color: #407abd;
}

.bg-text{
    color: #3A70AC;
}